@model List<Skill>
@{
    ViewData["Title"] = "Yeteneklerim";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

@{
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
    
            <td>@item.Title</td>
            <td>
                <div class="progress" style="height: 22px;">
                    <div class="progress-bar bg-success fw-semibold"
                         role="progressbar"
                         style="width:@item.Percentage%"
                         aria-valuenow="@item.Percentage"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        @item.Percentage%
                    </div>
                </div>
            </td>
            <td>

                <a href="/Skills/DeleteSkill/@item.SkillId" class="btn btn-outline-danger">Sil</a>
                <a href="/Skills/UpdateSkill/@item.SkillId " class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }


</table>

<a href="/Skills/AddSkill" class="btn btn-outline-primary">Yeni Bir Yetenek Ekle</a>


